<!DOCTYPE html>
<html>
<head>
  <title>Formulario de inicio de sesión</title>
</head>
<body>
  <h2>Inicio de sesión</h2>
  
  <form action="{{ request.path }}" method="post">
    <label for="correo">Email:</label>
    <input type="text" id="correo" name="correo" required><br><br>
    
    <label for="clave">Contraseña:</label>
    <input type="password" id="clave" name="clave" required><br><br>
    
    <label>Rol:</label><br>
    <input type="radio" id="preceptor" name="tipo_usuario" value="preceptor" required>
    <label for="preceptor">Preceptor</label><br>
    
    <input type="radio" id="padre" name="tipo_usuario" value="padre" required>
    <label for="padre">Padre Madre o Tutor</label><br><br>
    
    <input type="submit" value="Iniciar sesión">
  </form>
</body>
</html>