<!DOCTYPE html>
<html>
<head>
  <title>Asistencia</title>
</head>
<body>
<form  action="{{ request.path }}"method="POST">
    <h1>Listado de Alumnos</h1>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Asistencia</th>
          <th>Justificación</th>
        </tr>
      </thead>
      <tbody>
        {% for alumno in alumnos %}
        <tr>
          <td>{{ alumno.id }}</td>
          <td>{{ alumno.nombre }}</td>
          <td>{{ alumno.apellido }}</td>
          <td>
            <select name="asistio[]">
              <option value="s">Asistió</option>
              <option value="n">No Asistió</option>
            </select>
          </td>
          <td>
            <input type="text" name="justificacion[]">
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="submit">Guardar asistencia</button>
</form>
</body>
</html>